*.swp
*.pvtp
*.vtp
*.bak
*.pvd
*.vtu
*.bak
91690mesh/BiV_temp.geo.bak
*.txt
*.pvtu
studies/echo_vs_MRI
studies/EP_ML
demo/outputs_BiVelectromechanics/BiVelectromechanics/Data.h5
demo/outputs_91690BiVelectromechanics/91690BiVelectromechanics/Data.h5
demo/outputs_91690BiVelectromechanics/91690BiVelectromechanics/Data.h5
studies/echo_vs_MRI.zip
demo/outputs/
demo/output_deformation/
demo/outputs_LVelectromechanics/
volume_tst/
vtk_fchamber/
u-p/
Langendorff_exmpl/
demo/Langendorff_msh/
w_aorta/
*.pyc
*.img
*.npz
demo/outputs_LV_waorta/
LV_waorta/simulator/
LV_waorta/test/
demo/dict_PV.json
